<button ng-click="drawPoint()"
        class="draw-button draw-point"
        tooltip="{{ 'anol.draw.TOOLTIP_POINT' | translate }}"
        tooltip-placement="{{ pointTooltipPlacement }}"
        tooltip-append-to-body="true"
        tooltip-popup-delay="{{ tooltipDelay }}"
        tooltip-enable="{{ tooltipEnable }}"
        tooltip-trigger="mouseenter click">
</button>
<button ng-click="drawLine()"
        class="draw-button draw-line"
        tooltip="{{ 'anol.draw.TOOLTIP_LINE' | translate }}"
        tooltip-placement="{{ lineTooltipPlacement }}"
        tooltip-append-to-body="true"
        tooltip-popup-delay="{{ tooltipDelay }}"
        tooltip-enable="{{ tooltipEnable }}"
        tooltip-trigger="mouseenter click">
</button>
<button ng-click="drawPolygon()"
        class="draw-button draw-polygon"
        tooltip="{{ 'anol.draw.TOOLTIP_POLYGON' | translate }}"
        tooltip-placement="{{ polygonTooltipPlacement }}"
        tooltip-append-to-body="true"
        tooltip-popup-delay="{{ tooltipDelay }}"
        tooltip-enable="{{ tooltipEnable }}"
        tooltip-trigger="mouseenter click">
</button>
<button ng-click="modify()"
        class="draw-button draw-modify"
        tooltip="{{ 'anol.draw.TOOLTIP_MODIFY' | translate }}"
        tooltip-placement="{{ polygonTooltipPlacement }}"
        tooltip-append-to-body="true"
        tooltip-popup-delay="{{ tooltipDelay }}"
        tooltip-enable="{{ tooltipEnable }}"
        tooltip-trigger="mouseenter click">
</button>
<button ng-click="remove()"
        class="draw-button draw-remove"
        tooltip="{{ 'anol.draw.TOOLTIP_REMOVE' | translate }}"
        tooltip-placement="{{ polygonTooltipPlacement }}"
        tooltip-append-to-body="true"
        tooltip-popup-delay="{{ tooltipDelay }}"
        tooltip-enable="{{ tooltipEnable }}"
        tooltip-trigger="mouseenter click">
</button>