<button ng-click="drawPoint()"
        ng-disabled="!geometriesConfig.point.enabled || !continueDrawingPoints"
        class="draw-button draw-point"
        uib-tooltip="{{ 'anol.draw.TOOLTIP_POINT' | translate }}"
        tooltip-placement="{{ pointTooltipPlacement }}"
        tooltip-append-to-body="true"
        tooltip-popup-delay="{{ tooltipDelay }}"
        tooltip-enable="{{ tooltipEnable }}"
        tooltip-trigger="mouseenter">
</button>
<button ng-click="drawLine()"
        ng-disabled="!geometriesConfig.line.enabled || !continueDrawingLines"
        class="draw-button draw-line"
        uib-tooltip="{{ 'anol.draw.TOOLTIP_LINE' | translate }}"
        tooltip-placement="{{ lineTooltipPlacement }}"
        tooltip-append-to-body="true"
        tooltip-popup-delay="{{ tooltipDelay }}"
        tooltip-enable="{{ tooltipEnable }}"
        tooltip-trigger="mouseenter">
</button>
<button ng-click="drawPolygon()"
        ng-disabled="!geometriesConfig.polygon.enabled || !continueDrawingPolygons"
        class="draw-button draw-polygon"
        uib-tooltip="{{ 'anol.draw.TOOLTIP_POLYGON' | translate }}"
        tooltip-placement="{{ polygonTooltipPlacement }}"
        tooltip-append-to-body="true"
        tooltip-popup-delay="{{ tooltipDelay }}"
        tooltip-enable="{{ tooltipEnable }}"
        tooltip-trigger="mouseenter">
</button>
<button ng-click="modify()"
        class="draw-button draw-modify"
        uib-tooltip="{{ 'anol.draw.TOOLTIP_MODIFY' | translate }}"
        tooltip-placement="{{ polygonTooltipPlacement }}"
        tooltip-append-to-body="true"
        tooltip-popup-delay="{{ tooltipDelay }}"
        tooltip-enable="{{ tooltipEnable }}"
        tooltip-trigger="mouseenter">
</button>
<button ng-click="remove()"
        class="draw-button draw-remove"
        uib-tooltip="{{ 'anol.draw.TOOLTIP_REMOVE' | translate }}"
        tooltip-placement="{{ polygonTooltipPlacement }}"
        tooltip-append-to-body="true"
        tooltip-popup-delay="{{ tooltipDelay }}"
        tooltip-enable="{{ tooltipEnable }}"
        tooltip-trigger="mouseenter">
</button>