<div class="anol-popup" ng-show="popupVisible">
    <span class="anol-popup-closer glyphicon glyphicon-remove" ng-click="close()"></span>
    <div class="anol-popup-content">
        <div ng-if="propertiesCollection.length > 0" ng-repeat="properties in propertiesCollection">
            <div ng-repeat="(key, value) in properties">{{ key }}: {{ value }}</div>
        </div>
        <div ng-if="propertiesCollection.length === 0">
            <div>{{ 'anol.featurepopup.NO_INFORMATIONS_AVAILABLE' | translate }}</div>
        </div>
    </div>
</div>
