/**
 * anol-layerswitcher
 */
.ol-unselectable .anol-layerswitcher {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0px 25px 5px 5px;
  border-radius: 5px 0px 0px 5px;
  font-size: 14px;
  top: 5px;
  right: 0px;
  position: absolute;
  z-index: 1000;
  width: 265px;
}

.ol-unselectable .anol-layerswitcher-toggle {
  width: 20px;
  top: 7px;
  right: 0px;
  border-radius: 5px 0px 0px 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
  text-align: center;
  z-index: 1001;
  cursor: pointer;
}

.ol-unselectable .anol-layerswitcher hr {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: -20px;
}

.ol-unselectable .anol-layerswitcher .group-layers-container {
  padding-left: 18px;
}

/**
 * anol-featurelegend
 */
.anol-featurelegend .legend-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px 0px 0px 5px;
  font-size: 14px;
  bottom: 40px;
  right: 0px;
  position: absolute;
  z-index: 1000;
  max-width: 40%;
}

.anol-featurelegend .legend-header {
  font-weight: bold;
  font-size: 14px;
}

.anol-featurelegend .legend-toggle {
  width: 20px;
  border-radius: 5px 0px 0px 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  z-index: 1001;
  cursor: pointer;
}

.anol-featurelegend .legend-toggle.legend-visible {
  position: absolute;
  right: 0;
  top: 3px;
}

.anol-featurelegend .legend-toggle.legend-hidden {
  bottom: 40px;
  position: absolute;
  right: 0;
}

.anol-featurelegend .legend-container .legend-items {
  max-height: 170px;
  overflow-x: auto;
  overflow-y: scroll;
}

.anol-featurelegend .legend-container .legend-items div {
  margin-right: 5px;
}

.anol-featurelegend .legend-container .legend-items div canvas {
  vertical-align: text-bottom;
}

/**
 * anol-featureinfo
 */
.anol-popup {
  position: absolute;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
}

.anol-popup:after, .anol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.anol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.anol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.anol-popup .close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  color: #cccccc;
  font-weight: bold;
}

.anol-popup .close-button:before {
  content: "x";
}

.anol-popup #popup-content {
  font-size: 13px;
  line-height: 18px;
  width: 200px;
  height: 200px;
}
.anol-popup #popup-content iframe {
  width: 200px;
  height: 200px;
}