/**
 * anol-layerswitcher
 */
.anol-layerswitcher
  top: 7px
  right: 0px
  z-index: 1001

.anol-layerswitcher-container
  background-color: rgba(255, 255, 255, 0.7)
  padding: 0px 25px 5px 5px
  border-radius: 5px 0px 0px 5px
  font-size: 14px
  top: 5px
  right: 0px
  position: absolute
  z-index: 1000
  width: 265px

  .group-layers-container
    padding-left: 18px


/**
 * anol-legend
 */
.anol-legend
  .anol-legend-visible
      right: 0
      top: 3px

  .anol-legend-hidden
      bottom: 40px
      right: 0

  .anol-legend-container
    background-color: rgba(255, 255, 255, 0.7)
    padding: 5px
    border-radius: 5px 0px 0px 5px
    font-size: 14px
    bottom: 40px
    right: 0px
    position: absolute
    z-index: 1000
    max-width: 40%
    h2
      font-size: 16px

    .anol-legend-items
      max-height: 170px
      overflow-x: auto
      overflow-y: scroll
      div
          margin-right: 5px
          canvas
            vertical-align: text-bottom


/**
 * anol-featureinfo
 */
.anol-popup
  position: absolute
  background-color: white
  padding: 15px
  border-radius: 10px
  border: 1px solid #cccccc
  bottom: 12px
  left: -50px

  &:after, &:before
    top: 100%
    border: solid transparent
    content: " "
    height: 0
    width: 0
    position: absolute
    pointer-events: none

  &:after
    border-top-color: white
    border-width: 10px
    left: 48px
    margin-left: -10px

  &:before
    border-top-color: #cccccc
    border-width: 11px
    left: 48px
    margin-left: -11px

  #popup-content
    font-size: 13px
    line-height: 18px
    width: 200px
    height: 200px
    iframe
      width: 200px
      height: 200px

  &.close-button
    position: absolute
    right: 10px
    top: 5px
    cursor: pointer
    color: #cccccc
    font-weight: bold

    &:before
      content: "x"


/**
 * anol-mouse-position
 */
[anol-mouse-position]
  display: none


/**
 * anol-geolocation
 */
.anol-geolocation
  left: 0.5em
  top: 5em

  button
    background-image: url('../static/img/anol-geolocate.svg')
    width: 22px
    height: 22px
    background-repeat: no-repeat;

/**
 * anol-measure-line
 */
.anol-measure-line
  left: 0.5em
  top: 7em

  button
    background-image: url('../static/img/anol-measure-line.svg')
    width: 22px
    height: 22px
    background-repeat: no-repeat;

/**
 * anol-measure-area
 */
.anol-measure-area
  left: 0.5em
  top: 9em

  button
    background-image: url('../static/img/anol-measure-area.svg')
    width: 22px
    height: 22px
    background-repeat: no-repeat;


/**
 * anol-searchbox
 */
.anol-searchbox
  top: 10px
  right: 10px
  width: 300px

  ul.dropdown-menu
    max-height: 300px
    width: 300px
    overflow-y: auto
    cursor: pointer
