<div class="anol-attribution ol-unselectable ol-control">
    <ul ng-show="attributionVisible"
        class="list-unstyled">
        <li ng-repeat="layer in layers | uniqueActiveAttribution">{{ layer.attribution }}</li>
    </ul>
    <button ng-class="{'anol-info-white': !attributionVisible, 'glyphicon glyphicon-chevron-right': attributionVisible}"
            ng-click="attributionVisible=!attributionVisible"
            tooltip="{{ 'anol.attribution.TOOLTIP' | translate }}"
            tooltip-placement="{{ tooltipPlacement }}"
            tooltip-append-to-body="true"
            tooltip-popup-delay="{{ tooltipDelay }}"
            tooltip-enable="{{ tooltipEnable }}"
            tooltip-trigger="mouseenter click">
    </button>
</div>
