<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{ 'anol.featurestyleeditor.TITLE' | translate }}</h4>
</div>
<div class="modal-body" id="feature-properties-container">
  <div class="form-horizontal">
    <div ng-switch on="geometryType">
      <div ng-switch-when="Point">
        <div ng-include="'point-style-inputs.html'"></div>
        <div ng-include="'stroke-style-inputs.html'"></div>
        <div ng-include="'fill-style-inputs.html'"></div>
      </div>
      <div ng-switch-when="LineString">
        <div ng-include="'stroke-style-inputs.html'"></div>
      </div>
      <div ng-switch-when="Polygon">
        <div ng-include="'stroke-style-inputs.html'"></div>
        <div ng-include="'fill-style-inputs.html'"></div>
      </div>
    </div>
  </div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="ok()">{{ 'anol.featurestyleeditor.OK' | translate }}</button>
  <button type="button" class="btn btn-warning" ng-click="cancel()">{{ 'anol.featurestyleeditor.CANCEL' | translate }}</button>
</div>

<script type="text/ng-template" id="point-style-inputs.html">
  <div class="form-group">
    <label class="control-label col-sm-3">{{ 'anol.featurestyleeditor.RADIUS' | translate }}</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" ng-model="style.radius" />
    </div>
  </div>
</script>

<script type="text/ng-template" id="stroke-style-inputs.html">
  <div class="form-group">
    <label class="control-label col-sm-3">{{ 'anol.featurestyleeditor.LINE_COLOR' | translate }}</label>
    <div class="col-sm-9">
      <input class="form-control" ng-model="style.strokeColor" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3">{{ 'anol.featurestyleeditor.LINE_WIDTH' | translate }}</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" ng-model="style.strokeWidth" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3">{{ 'anol.featurestyleeditor.LINE_OPACITY' | translate }}</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" ng-model="style.strokeOpacity" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3">{{ 'anol.featurestyleeditor.LINE_DASHSTYLE' | translate }}</label>
    <div class="col-sm-9">
      <select class="form-control" ng-model="style.strokeDashstyle" ng-options="dashStyle.value as dashStyle.label for dashStyle in strokeDashStyles"></select>
    </div>
  </div>
</script>

<script type="text/ng-template" id="fill-style-inputs.html">
  <div class="form-group">
    <label class="control-label col-sm-3">{{ 'anol.featurestyleeditor.FILL_COLOR' | translate }}</label>
    <div class="col-sm-9">
      <input class="form-control" ng-model="style.fillColor" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3">{{ 'anol.featurestyleeditor.FILL_OPACITY' | translate }}</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" ng-model="style.fillOpacity" />
    </div>
  </div>
</script>
