<div class="anol-layerswitcher-toggle" ng-show="showToggle" ng-show="backgroundLayers.length > 1 || overlayLayers.length > 0">
    <span class="glyphicon" ng-class="{'glyphicon-chevron-left': collapsed, 'glyphicon-chevron-right': !collapsed}" ng-click="collapsed=!collapsed"></span>
</div>
<div class="anol-layerswitcher" ng-show="!collapsed">
    <div ng-show="backgroundLayers.length > 1">
        <h4>Background Layers</h4>
        <div ng-repeat="layer in backgroundLayers">
             <!-- used $parent to get out of ng-repeat scope -->
            <input type="radio" ng-model="$parent.backgroundLayer" ng-value="layer">
            {{ layer.get('title') }}
        </div>
    </div>
    <div ng-show="overlayLayers.length > 0">
        <h4>Overlay Layers</h4>

        <div ng-repeat="layer in overlayLayers">
            <div ng-if="isGroup(layer)">
                <span class="glyphicon" ng-class="{'glyphicon-plus': layer.collapsed, 'glyphicon-minus': !layer.collapsed}" ng-click="layer.collapsed=!layer.collapsed"></span>
                <span class="glyphicon" ng-class="{'glyphicon-eye-open': layer.getVisible(), 'glyphicon-eye-close': !layer.getVisible()}" ng-click="layer.setVisible(!layer.getVisible())"></span>
                {{ layer.get('title') }}
                <div class="group-layers-container" ng-repeat="groupLayer in layer.getLayersArray()" ng-show="!layer.collapsed">
                    <span class="glyphicon"
                          ng-class="{'glyphicon-eye-open': groupLayer.getVisible(), 'glyphicon-eye-close': !groupLayer.getVisible()}"
                          ng-click="groupLayer.setVisible(!groupLayer.getVisible())">
                    </span>
                    {{ groupLayer.get('title') }}
                    <span ng-if="groupLayer.get('isBackground') === true" class="glyphicon glyphicon-paperclip"></span>
                </div>
            </div>
            <div ng-if="!isGroup(layer)">
                <span class="glyphicon"
                      ng-class="{'glyphicon-eye-open': layer.getVisible(), 'glyphicon-eye-close': !layer.getVisible()}"
                      ng-click="layer.setVisible(!layer.getVisible())">
                </span>
                {{ layer.get('title') }}
                <span ng-if="layer.get('isBackground') === true" class="glyphicon glyphicon-paperclip"></span>
            </div>
        </div>
    </div>
    <ng-transclude></ng-transclude>
</div>