<div class="anol-layerswitcher ol-unselectable ol-control"
     ng-show="showToggle"
     ng-show="backgroundLayers.length > 1 || overlayLayers.length > 0">
    <button class="glyphicon"
            ng-class="{'glyphicon-chevron-left': collapsed, 'glyphicon-chevron-right': !collapsed}"
            ng-click="collapsed=!collapsed"
            tooltip="{{ 'anol.layerswitcher.TOOLTIP' | translate }}"
            tooltip-placement="{{ ::tooltipPlacement }}"
            tooltip-append-to-body="true"
            tooltip-popup-delay="{{ ::tooltipDelay }}"
            tooltip-enable="{{ ::tooltipEnable }}"
            tooltip-trigger="mouseenter click">
    </button>
</div>
<div class="anol-layerswitcher-container" ng-show="!collapsed">
    <div ng-show="backgroundLayers.length > 1">
        <h4>{{ 'anol.layerswitcher.BACKGROUNDS' | translate }}</h4>
        <div ng-repeat="layer in backgroundLayers" class="radio">
            <!-- used $parent to get out of ng-repeat scope -->
            <label>
                <input type="radio" ng-model="$parent.backgroundLayer" ng-value="layer">
                {{ layer.title }}
            </label>
        </div>
    </div>
    <div ng-show="overlayLayers.length > 0">
        <h4>{{ 'anol.layerswitcher.OVERLAYS' | translate }}</h4>
        <div ng-repeat="layer in overlayLayers" ng-if="layer.displayInLayerswitcher !== false">
            <div ng-if="isGroup(layer) && layer.layers.length > 1">
                <span class="glyphicon" ng-class="{'glyphicon-plus': layer.collapsed, 'glyphicon-minus': !layer.collapsed}" ng-click="layer.collapsed=!layer.collapsed"></span>
                <span ng-click="layer.setVisible(!layer.getVisible())" class="pointer">
                    <span class="glyphicon" ng-class="{'glyphicon-eye-open': layer.getVisible(), 'glyphicon-eye-close': !layer.getVisible()}"></span>
                    {{ layer.title }}
                </span>
                <div class="group-layers-container" ng-repeat="groupLayer in layer.layers" ng-show="!layer.collapsed">
                    <span ng-click="groupLayer.setVisible(!groupLayer.getVisible())" class="pointer">
                        <span class="glyphicon"
                              ng-class="{'glyphicon-eye-open': groupLayer.getVisible(), 'glyphicon-eye-close': !groupLayer.getVisible()}">
                        </span>
                        {{ groupLayer.title }}
                    </span>
                </div>
            </div>
            <div ng-if="isGroup(layer) && layer.layers.length == 1">
                <span ng-click="layer.layers[0].setVisible(!layer.layers[0].getVisible())" class="pointer">
                    <span class="glyphicon"
                          ng-class="{'glyphicon-eye-open': layer.layers[0].getVisible(), 'glyphicon-eye-close': !layer.layers[0].getVisible()}">
                    </span>
                    {{ layer.layers[0].title }}
                </span>
            </div>
            <div ng-if="!isGroup(layer)">
                <span ng-click="layer.setVisible(!layer.getVisible())" class="pointer">
                    <span class="glyphicon"
                          ng-class="{'glyphicon-eye-open': layer.getVisible(), 'glyphicon-eye-close': !layer.getVisible()}">
                    </span>
                    {{ layer.title }}
                </span>
            </div>
        </div>
    </div>
    <ng-transclude></ng-transclude>
</div>