<div class="anol-catalog">
    <h4>Available layers</h4>
    <input ng-model="search.title">
    <ul class="list">
        <li ng-repeat="layer in layers | filter:search:strict">
            {{ layer.title }}
            <button class="btn btn-default btn-sm" ng-click="addToMap(layer)">+</button>
        </li>
    </ul>
    <h4>Added layers</h4>
    <ul class="list">
        <li ng-repeat="layer in addedLayers">
            {{ layer.title }}
            <button class="btn btn-default btn-sm" ng-click="toggleLayerVisible(layer)">V</button>
            <button class="btn btn-default btn-sm" ng-click="removeFromMap(layer)">-</button>
        </li>
    </ul>
</div>
