<div class="anol-legend-container">
    <div class="anol-legend-items">
        <div ng-repeat="layer in legendLayers">
            <!-- Layer with Groups -->
            <strong ng-show="layer.group.getVisible()">{{ layer.group.title }}</strong>
            <div ng-repeat="layer in layer.content">
                <div ng-show="layer.getVisible()">
                    <div ng-show="layer.legend.type != 'link'" anol-legend-image="layer"
                        size="[15, 15]"
                        prepend="layer.legend && (layer.type == 'static_geojson' || layer.type == 'dynamic_geojson')">
                    </div>
                    <span class="anol-legend-item-title" ng-if="layer.legend.url !== undefined || layer.isVector">{{ layer.title }}</span>
                    <div ng-show="layer.legend.type == 'link'">
                        <a target="_blank" href="{{ layer.legend.href }}" title="{{ layer.legend.title }}">{{ layer.legend.text }}</a>
                    </div>
                 </div>
            </div>
            <!-- Layer without Groups -->
            <div ng-if="!layer.content" anol-legend-image="layer"
                 size="[15, 15]"
                 prepend="layer.legend && (layer.type == 'static_geojson' || layer.type == 'dynamic_geojson')">
            </div>
            <span ng-if="!layer.content" class="anol-legend-item-title" ng-if="layer.legend.url !== undefined || layer.isVector">{{ layer.title }}</span>
        </div>
    </div>
</div>
